@page
@model IndexModel
@{
    ViewData["Title"] = "Lotto Number Set Generator";
}

<div class="text-center">
    <h1>Lotto Number Set Generator</h1>
    <p></p>
    <div class="form-group form-control-sm">
        <p></p>
        <div class="card">
            <div class="card-header px-3">
                Number Groupings (up to 3 per number set)
            </div>
            <div class="card-body px-5">
                <div id="groupOne" class="container">
                    <div class="row">
                        <div class="col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="group1" checked class="custom-control-input" />
                                <label for="group1" class="custom-control-label fs-5">&nbsp;Group One</label>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="groupMin1" class="form-label">Minimum</label>
                            <input type="range" id="groupMin1" min="1" max="127" step="1" value="1" class="form-range" />
                            <input type="number" id="groupMin1Val" min="1" max="127" value="1" class="form-control" />
                        </div>
                        <div class="col">
                            <label for="groupMax1" class="form-label">Maximum</label>
                            <input type="range" id="groupMax1" min="1" max="255" step="1" value="70" class="form-range" />
                            <input type="number" id="groupMax1Val" min="1" max="255" value="70" class="form-control" />
                        </div>
                        <div class="col">
                            <label for="numbersPerGroup1" class="form-label">Numbers</label>
                            <input type="range" id="numbersPerGroup1" min="1" max="10" step="1" value="5" class="form-range" />
                            <input type="number" id="numbersPerGroup1Val" min="1" max="10" value="5" class="form-control" />
                        </div>
                        <div class="col">
                            <label for="divergence1" class="form-label">Divergence</label>
                            <input type="range" id="divergence1" min="1" max="50" step="1" value="15" class="form-range" />
                            <input type="number" id="divergence1Val" min="1" max="50" value="15" class="form-control" />
                        </div>
                        <div class="col">
                            <label class="form-label ">Checks</label>
                            <div class="form-check form-switch" style="text-align: left;">
                                <input type="checkbox" id="checkSum1" class="form-check-input" role="switch" />
                                <label for="checkSum1" class="form-check-label">Sum</label>
                            </div>
                            <div class="form-check form-switch" style="text-align: left;">
                                <input type="checkbox" id="checkOE1" class="form-check-input" role="switch" />
                                <label for="checkOE1" class="form-check-label">OddEven</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div id="groupTwo" class="container border-top">
                    <div class="row">
                        <div class="col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="group2" checked class="custom-control-input" />
                                <label for="group2" class="custom-control-label fs-5">&nbsp;Group Two</label>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="groupMin2" class="form-label">Minimum</label>
                            <input type="range" id="groupMin2" min="1" max="127" step="1" value="1" class="form-range" />
                            <input type="number" id="groupMin2Val" min="1" max="127" value="1" class="form-control" />
                        </div>
                        <div class="col">
                            <label for="groupMax2" class="form-label">Maximum</label>
                            <input type="range" id="groupMax2" min="1" max="255" step="1" value="25" class="form-range" />
                            <input type="number" id="groupMax2Val" min="1" max="255" value="25" class="form-control" />
                        </div>
                        <div class="col">
                            <label for="numbersPerGroup2" class="form-label">Numbers</label>
                            <input type="range" id="numbersPerGroup2" min="1" max="10" step="1" value="1" class="form-range" />
                            <input type="number" id="numbersPerGroup2Val" min="1" max="10" value="1" class="form-control" />
                        </div>
                        <div class="col">
                            <label for="divergence2" class="form-label">Divergence</label>
                            <input type="range" id="divergence2" min="1" max="50" step="1" value="10" class="form-range" />
                            <input type="number" id="divergence2Val" min="1" max="50" value="10" class="form-control" />
                        </div>
                        <div class="col">
                            <label class="form-label">Checks</label>
                            <div class="form-check form-switch" style="text-align: left;">
                                <input type="checkbox" id="checkSum2" role="switch" class="form-check-input" />
                                <label for="checkSum2" class="form-check-label">Sum</label>
                            </div>
                            <div class="form-check form-switch" style="text-align: left;">
                                <input type="checkbox" id="checkOE2" role="switch" class="form-check-input" />
                                <label for="checkOE2" class="form-check-label">OddEven</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="container border-top" id="groupThree">
                    <div class="row">
                        <div class="col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="group3" class="custom-control-input" />
                                <label for="group3" class="custom-control-label fs-5">&nbsp;Group Three</label>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="groupMin3" class="form-label">Minimum</label>
                            <input type="range" id="groupMin3" min="1" max="127" step="1" value="1" class="form-range" />
                            <input type="number" id="groupMin3Val" min="1" max="127" value="1" class="form-control" />
                        </div>
                        <div class="col">
                            <label for="groupMax3" class="form-label">Maximum</label>
                            <input type="range" id="groupMax3" min="1" max="255" step="1" value="5" class="form-range" />
                            <input type="number" id="groupMax3Val" min="1" max="255" value="5" class="form-control" />
                        </div>
                        <div class="col">
                            <label for="numbersPerGroup3" class="form-label">Numbers</label>
                            <input type="range" id="numbersPerGroup3" min="1" max="10" step="1" value="1" class="form-range" />
                            <input type="number" id="numbersPerGroup3Val" min="1" max="10" value="1" class="form-control" />
                        </div>
                        <div class="col">
                            <label for="divergence3" class="form-label">Divergence</label>
                            <input type="range" id="divergence3" min="1" max="50" step="1" value="10" class="form-range" />
                            <input type="number" id="divergence3Val" min="1" max="50" value="10" class="form-control" />
                        </div>
                        <div class="col">
                            <label class="form-label">Checks</label>
                            <div class="form-check form-switch" style="text-align: left;">
                                <input type="checkbox" id="checkSum3" role="switch" class="form-check-input" />
                                <label for="checkSum3" class="form-check-label">Sum</label>
                            </div>
                            <div class="form-check form-switch" style="text-align: left;">
                                <input type="checkbox" id="checkOE3" role="switch" class="form-check-input" />
                                <label for="checkOE3" class="form-check-label">OddEven</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="card-footer">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div id="progress" class="align-self-center">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="numberOfSets" class="form-label">Number Of Sets</label>
                            <input type="range" id="numberOfSets" min="1" max="20" step="1" value="10" class="form-range" />
                            <input type="number" id="numberOfSetsVal" min="1" max="20" value="10" class="form-control" />
                        </div>
                        <div class="col d-flex justify-content-center">
                            <button id="btnget" type="submit" class="btn btn-primary align-self-center">Generate Numbers</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="results"></div>
</div>
