html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#results div {
    padding: 8px;
}
    #results div span {
        width: 50px;
        padding: 2px;
        margin: 4px;
    }